        * {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .AZcontainer {
            display: flex;
        }

        .sidebar {
            width: 70px;
            height: 200vh;
            padding: 10px;
            background: #2c2f42;
        }
        nav a {
            width: 40px;
            height: 40px;
            display: flex;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 40px;
            margin-bottom: 10px;
            margin-left: 10px;
            padding-left: 10px;
            color: black;
        }

        nav a:hover {
            background: white;
            border-radius: 8px;
            color: #27ce95;
        }


/* Hover Icon and Side bar */
        .main:hover,
        .slide:hover {
            margin-left: -10px;
            border-left: 4px solid black;
            /* border-radius: 2px; */
            border-top-right-radius: 5px;
            border-bottom-right-radius: 15px;
        }
